<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Commonwealth</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main-text">
		The Commonwealth
	</div>
	
</body>
</html>

	<div class="links-container">
		<div class="vk">
			<a href="https://vk.com/thecommonwealth2020", class="decoration">VKontakte</a>
		</div>


		<div class="telegram">
			<a href="https://vk.com/away.php?to=https%3A%2F%2Ft.me%2Fthecommonwealth2022", class="decoration">Telegram</a>
		</div>


		<div class="charter">
			<a href="https://vk.com/doc403210316_657773170?hash=wL0PIuCs5GU5CWq1g2cpODL01ziPSK0aZ8wXuO3jCmL&dl=Pas0Gzpci3aZ41tzhZUllpA1JWtojf3jLxAnbo5zCZg", class="decoration">Charter</a>
		</div>


		<div class="join">
			<a href="https://vk.com/app5619682_-194667570", class="decoration">Join</a>
		</div>

		<div class="donate">
			<a href="https://vk.com/app5727453_-194667570?ref=group_menu", class="decoration">Donate</a>
		</div>
	</div>


	<div class="mail">
		<a href="mailto:thecommonwealth2022@gmail.com", class="without-decoration"></a>
	</div>

